<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="icon" type= “image/x-icon” href="/assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Nutriguide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../backend">Backend</a>
            </li>          
            <li class="nav-item">
              <a class="nav-link" href="../frontend">Frontend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../apuntes">Apuntes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" ><a href="../">Home</a></li>
        <li class="breadcrumb-item  active"><a href="../backend">Backend</a></li>
      </ol>
    </nav>
    <div class="container">
    <div class="row align-items-start">
      <div class="col-md-3">
        <div class="row align-items-start">
          <div class="col-md-12">
            <img src="/assets/avoca-relax.gif" width="100%" height="100%" />
          </div>
          <div class="col-md-12">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                Índice
              </a>
              <a href="#section1" class="list-group-item list-group-item-action">📚 Descripción</a>
              <a href="#section2" class="list-group-item list-group-item-action">⚙ Configuración / Requirimientos de instalación</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <h3 id="section1" class="display-3">📚 Descripción</h3>
        <p class="lead">
        </p>
        <hr class="mt-2 mb-3"/>
        <h3 id="section2" class="display-3">⚙ Configuración / Requirimientos de instalación</h3>
        <p class="lead"> 
        </p>
      </div>
    </div>
  </body>
</html>
